.container-xl{
    position: relative;
}

.footer_btn{
    width: 20px;
    height: 20px;
    position:sticky;
    top: 90%;
    right: 10px;
    /* bottom:10px; */
    /* background-color: darkgray; */
    
}